/*-------- CSS stylings --------*/

<style>
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Kirang+Haerang&display=swap');
</style>

  *{
    padding-top: 0.2em;
    padding-bottom: 0.5;
    margin: 0.2;
    font-size: 100%;
    line-height: 1em;
    font-family: 'Do Hyeon', sans-serif;

  }

  /*--------- Main Styling --------*/

  body{
    width: 80%;
    max-width: 700px;
    margin: auto;
    background: #ffff;
    color: #333;
    font-family: 'Do Hyeon', sans-serif;
  }

  }

 /*--------- Typography--------*/

 h2,h3{
   font-family: 'Kirang Haerang', cursive;
   font-weight: 700;
   font-style: normal;
}

 h1 {
   font-size: 4.0em;
   color: #e66b0e;
   text-align: center;
   margin-top: 2.0em;
   margin-bottom: 0.1em;
   text-decoration-style: dotted;


 }

 h2{
   font-weight: normal;
   font-weight: 700;
   font-size: 2em;
   color: #153170;
   margin-top: 4em;
   margin-left: 0;
   margin-bottom: 1em;
   margin-right: 0;

 }

 h3{
   font-weight: normal;
   color: #153170;
   text-align: left;
   font-weight: 700;
   font-size: 1.4em;
   margin-bottom: 1.5em;
   text-decoration:overline;
   text-decoration-color: orange;


p {
  margin-bottom: 1.5em;
  line-height: 1.4;
  font-weight: 400;
  font-family: 'Do Hyeon', sans-serif;
}

 p, blockquote {
      font-weight: 100;
      line-height: 1.2;
 }

b, strong{ font-weight: 600;}

img {
  background-size:cover;
  padding-top: 2em;
  margin-top: 6em;
}

 blockquote {
    font-size: 2em;
    hanging-punctuation: first;
    text-indent: -0.44em;
    color:  #611748;
    font-weight: 600;
  }

 blockquote cite {
   font-size: 1em;
   color: #611748;
 }

 header h2{
   font style: italic;
   margin-top: 0.5;
   margin-bottom: 0.5em;
 }

 header p{
   font-size: 1.3em;
 }

 /*------ CSS Grids -----*/

.myGallery {
 display: grid;
 grid-gap: 50px;
 grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.myGallery img {
 width: 100%;
}

 /*------ Images -----*/

img{
 display: block;
 margin: auto;
 max-width: 100%;
}

class ".center" {
  display: block;
  margin: 0 auto;
}

 /*------ Styling Links -----*/
 a{
   color: #FBD803;
   text-decoration: overline;
 }

 }
a:hover {
  color:#FBD803;
  border-bottom: 1px dotted;
}

  /*------ Navigation -----*/
  nav{
    position: fixed;
    top: 0em;
    left: 0em;
    margin: 0em;
    width: 100%;
    background-color: #E75B24;
    padding =: 1.5em 1;
    font-size: 0.8em;
    box-shadow: 0 0 10px 0 yellow;
  }

  nav ul{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  nav ul li{
    display: inline;
    margin: 20px;
    background: none;
  }

  nav a: link{
    color:#203373;
  }

  nav a:visited {
      color: #203373;
}

  nav a:hover {
     border-bottom: none;
     color: #ffff;
     transition: all 0.25s ease-in-out;
     }

  /*------ Footer ------*/

 footer {
   text-align: center;
   font-size: 0.708;
   margin: 5em 0 8em 0
 }
